@model STAJORNEKCALISMA.Models.TBL_HAT
@{
    ViewBag.Title = "HatDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("HatDuzenle", "Hat", FormMethod.Post, new { @id = "frmDuzenleHat", enctype = "multipart/form-data", autocomplete = "off" }))
{
    <div class="row mb-10">
        <div class="col-md-6 mb-3">
            @Html.HiddenFor(y => y.ID)
            <label class="form-label">Hat Numara Düzenle</label>      
            @Html.TextBoxFor(x=>x.HAT_NO, new {@class="form-control" })
        </div>
        <div class="col-md-12 text-center">
            <div type="submit" id="btnDuzenleHat" class="btn btn-success mb-5" value="Giriş Yap">
                <span class="indicator-label">Düzenle</span>
            </div>
        </div>
    </div> 

}

<script type="text/javascript">

    $(document).on('touchstart click', '#btnDuzenleHat', function (e) {
        debugger;
        var str = new FormData($('#frmDuzenleHat')[0]);

        $.ajax({
            cache: false,
            global: false,
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            mimeType: "multipart/form-data",
            data: str,
            dataType: 'json',
            url: "/Hat/HatDuzenle",
            beforeSend: function () {
            },
            success: function () {
                alert("Hat Düzenlendi");
                window.location = "/Hat/HatListe";
            },
            error: function () {
                alert("Başarısız");
            },
            complete: function () {

            }
        });
    }
    );
</script>

